<div class="card horizontal">
  <div class="card-image">

    <a *ngIf="employee" [routerLink]="['/employee', employee?.id]">
      <img src={{employee?.imageUrl}} width="100" height="300">
    </a>
    <p>
      <i class="tiny material-icons">favorite</i>{{employee?.likes}}
    </p>
    <a class="c-edit-fab btn-floating btn-large waves-effect waves-light red" (click)="onEdit()"><i class="material-icons">mode_edit</i></a>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <p>
       Имя:      {{employee?.name}}<br>
       Фамилия:  {{employee?.lastname}}<br>
       Дожность: {{employee?.position}}<br>
       Отдел:    {{employee?.department.name}}<br>
       Дата рождения: {{employee?.dateOfBirth}}<br>
       Контактный номер: {{employee?.phoneNumber}}
      </p>

    </div>
    <div class="card-action">
      <a  (click)="onLike()">Like</a>
      <a  (click)="onDislike()">Dislike</a>
      <a routerLink="/employees" (click)="onRemove()">Удалить</a>
    </div>
  </div>
</div>
