<div class="container">
  <div class="row">
    <div class="col s12" align="center">
      <img src="http://www.reepl.ru/img/eidos-logo.png">
    </div>

  </div>
  <nav>
    <div class="nav-wrapper">
      <a  class="brand-logo">Список сотрудников</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/employees">Сотрудники</a></li>
        <li><a routerLink="/departments">Отделы</a></li>
        <li><a routerLink="/managers">Менеджеры</a></li>
        <li><a routerLink="/auth/login"><i class="material-icons" (click)="onLogout()">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card horizontal">
        <div class="card-image">
          <img src={{department?.imageUrl}} >

        </div>
        <div class="card-content">
          <span class="card-title">&nbsp;&nbsp;{{department?.name}}</span>
          <p>
            &nbsp;&nbsp; Общее количество сотрудников отдела: {{employees?.length}}
          </p>
          <div class="row" *ngFor="let manager of managers">
            <p>
              <a routerLink="/manager/{{manager?.id}}" class="card-content">  Менеджер отдела: {{manager?.name}} {{manager?.lastname}}</a>
            </p>
          </div>

        </div>
      </div>
      <div class="row" *ngFor="let employee of employees">

        <ul class="collection">
          <li class="collection-item avatar">
            <img src="{{employee?.imageUrl}}" alt="" class="circle">

            <p>{{employee?.name}}<br>
              {{employee?.lastname}}<br>
              {{employee?.position}}
            </p>
            <a routerLink="/employee/{{employee?.id}}" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>

        </ul>
      </div>

    </div>

  </div>

</div>

