<div class="container">
  <div class="row">
    <div class="col s12" align="center">
      <img src="http://www.reepl.ru/img/eidos-logo.png">
    </div>

  </div>
  <nav>
    <div class="nav-wrapper">
      <a  class="brand-logo">Список сотрудников</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/employees">Сотрудники</a></li>
        <li><a routerLink="/departments">Отделы</a></li>
        <li><a routerLink="/managers">Менеджеры</a></li>
        <li><a routerLink="/auth/login"><i class="material-icons" (click)="onLogout()">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card horizontal">
        <div class="card-image">
          <img src={{manager?.imageUrl}} >
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          
          <p>
             Имя:              {{manager?.name}}<br>
             Фамилия:          {{manager?.lastname}}<br>
             Дата рождения:    {{manager?.dateOfBirth}}<br>
             Контактный номер: {{manager?.phoneNumber}}
             </p>
          <br>
        </div>
      </div>
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="{{manager?.department.imageUrl}}" alt="" class="circle">

          <p>{{manager?.department.name}}
          </p>
          <a routerLink="/department/{{manager?.department.id}}" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>

      </ul>
    </div>
  </div>
</div>

