<!-- Modal Structure -->
<div id="departmentEditModal" class="modal" xmlns="http://www.w3.org/1999/html">
  <div class="modal-content">
    <h4>Department Details</h4>
    <div class="row">
      <form class="col s12" #departmentEditForm="ngForm">
        <div class="row">
          <div class="input-field col s6">
            <input
              id="name"
              name="name"
              type="text"
              placeholder="Name"
              required
              minlength="5"
              #name="ngModel"
              [(ngModel)]="department.name"
              [class.valid]="name.valid && (name.dirty || name.touched)"
              [class.invalid]="name.invalid && (name.dirty || name.touched)"
            >
            <label class="active" for="name">Name</label>
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
              <p *ngIf="name.errors?.required">Заполните поле</p>
              <p *ngIf="name.errors?.minlength">Название отдела не должно содержать менее {{name.errors.minlength.requiredLength}} символов</p>
            </div>

          </div>


        <div class="row">
          <div class="input-field col s6">
            <input
              id="imageUrl"
              name="imageUrl"
              type="text"
              placeholder="ImageUrl"
              required
              #imageUrl="ngModel"
              [(ngModel)]="department.imageUrl"
              [class.valid]="imageUrl.valid && (imageUrl.dirty || imageUrl.touched)"
              [class.invalid]="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)"
            >
            <label class="active" for="imageUrl">Image URL</label>
            <div *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)">
              <p *ngIf="imageUrl.errors?.required">Заполните поле</p>
            </div>
          </div>
        </div>
       </div>
      </form>

    </div>


    <div class="modal-footer">
      <button class="modal-action waves-effect waves-green btn-flat" (click)="onCancel()">Cancel</button>
      <button class="modal-action waves-effect waves-green btn-flat" (click)="onSave()" [disabled]="departmentEditForm.form.invalid">Save</button>
    </div>
  </div>
</div>
